.header {
	padding: 1rem;
	border-bottom: 0.1rem solid var(--background-highlight);
}

.header h1::after {
	content: '.';
	color: var(--purple-color-secondary);
}

.main {
	display: grid;
	place-items: center;
	gap: 1rem;
}

.taksContainer {
	background: #000;
	display: grid;
	place-items: center;
}

.tasksTitle {
	text-align: center;
	background: none;
	outline: none;
	border: none;
	cursor: text;
    font-size: 2em;
    font-weight: bold;
}

.tasksTitle:focus {
	outline: none;
	border-bottom: 0.1rem solid var(--essential-subdued);
}
