.header {
	padding: 1rem;
	border-bottom: 0.1rem solid var(--background-highlight);
}

.header h1 {
	cursor: pointer;
	transition: color 0.3s;
}

.header h1::after {
	content: '.';
	color: var(--purple-color-secondary);
}

.header h1:hover {
	color: var(--text-subdued);
	transition: color 0.3s;
}

.main {
	display: grid;
	place-items: center;
	gap: 1rem;
	background: var(--background-highlight);
	border-radius: 0.5rem;
	margin: 5%;
	padding: 1rem;
}

.taksContainer {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
	justify-content: center;
}

.tasksTitle {
	width: 50%;
	text-align: center;
	background: none;
	outline: none;
	border: none;
	cursor: text;
    font-size: 2em;
    font-weight: bold;
}

.tasksTitle:focus {
	outline: none;
	border-bottom: 0.1rem solid var(--essential-subdued);
}
